.maximize {
  background-color: $titlebar-window-controls-maximize-bgc;
  svg {
    width: $titlebar-window-controls-maximize;
    fill: $titlebar-window-controls-maximize-color;
  }

  &:hover {
    svg {
      fill: $titlebar-window-controls-maximize-active-color;
    }
    background-color: $titlebar-window-controls-maximize-active-bgc;
  }
}
