.createCanvasBody{
  padding: $create-canvas-body-padding;
  box-sizing: border-box;
}

.container {
  padding: $create-canvas-container-padding;
}

.createCanvas {
  box-sizing: border-box;
  background-color: $create-canvas-bgc;
  box-shadow: $create-canvas-shadow;
  border-radius: $create-canvas-radius;
}

.frame {
  -webkit-app-region: drag;
  height: $create-canvas-frame-height;
}

// .createCanvasName {
//   width: 240px;
// }
