.createCanvasBody {
  padding: $create-canvas-body-padding;
  box-sizing: border-box;
}

.container {
  padding: $create-canvas-container-padding;
}

.createCanvas {
  box-sizing: border-box;
  background-color: $create-canvas-bgc;
  box-shadow: $create-canvas-shadow;
  border-radius: $create-canvas-radius;
}

.frame {
  -webkit-app-region: drag;
  height: $create-canvas-frame-height;
  padding: 5px 10px;
  border-bottom: 1px solid #e6e6e6;

  .frameClose {
    -webkit-app-region: none;
    width: 12px;
  }
}

.color {
  .select {
    width: 170px;
  }
}

// .createCanvasName {
//   width: 240px;
// }
