@import "~/src/styles/animation.scss";

.options {
  box-shadow: $UI-form-select-options-shadow;
  padding: $UI-form-select-options-padding;
  font-size: $UI-form-select-options-font-size;
  color: $UI-form-select-options-font-color;
  transform-origin: top;
  background-color: $UI-form-select-options-bgc;
}

.optionsIn {
  animation: 0.16s ease-in zoomYInDown;
}

.optionsOut {
  animation: 0.16s ease-in forwards zoomYOutDown;
}

.option {
  padding: $UI-form-select-option-padding;
  &:hover {
    background-color: $UI-form-select-option-hover-bgc;
  }

  &.optionActive {
    color: $text-basic-primary-color;
  }
}

.selectInputContainer {
  .selectInput {
    padding-right: 20px;
  }
}

.arrow {
  position: absolute;
  right: 6px;
  top: 8px;
  width: $UI-form-select-option-arrow-width;
  fill: $UI-form-select-option-arrow-fill;
}

.arrowOptionsOpen {
  animation: 0.16s ease-in forwards RotatingEntrancesLeft;
}

.arrowOptionsClose {
  animation: 0.16s ease-in RotatingEntrancesTop;
}
