.frame-titlebar {
  width: 100vw;
  height: $titlebar-height;
  background-color: $titlebar-background-color;
  // -webkit-app-region: drag;

  .left {
    .logo {
      width: $titlebar-logo-size;
      height: $titlebar-logo-size;
    }
  }

  .middle {
    height: 100%;
    .menubar {
      user-select: none;
      height: $titlebar-height;

      .menubar-menu-button {
        height: $titlebar-height;
        .menubar-menu-title {
          font-size: $menubar-title-size;
          padding: $menubar-title-padding;
          color: $menubar-title-color;
          background-color: $menubar-title-bgc;

          &:hover {
            color: $menubar-title-active-color;
            background-color: $menubar-title-active-bgc;
          }
        }

        .menubar-menu-children {
          position: absolute;
          top: $titlebar-height;
          left: 0;
          padding: $menubar-menu-children-padding;
          background-color: $menubar-menu-children-bgc;

          .menubar-menu-children-title {
            font-size: $menubar-children-title-size;
            padding: $menubar-menu-children-title-padding;
            color: $menubar-menu-children-title-color;
            background-color: $menubar-menu-children-title-bgc;

            &:hover {
              background-color: $menubar-menu-children-title-active-bgc;
            }
          }

          .menubar-menu-children-separator {
            border-bottom: 1px solid #ccc;
            margin: $menubar-menu-children-separator-margin;
          }
        }
      }
    }
  }

  .right {
    -webkit-app-region: no-drag;
    .minimize,
    .maximize,
    .close {
      width: $titlebar-window-controls-width;
      height: $titlebar-window-controls-height;
    }

    .minimize {
      background-color: $titlebar-window-controls-minimize-bgc;
      svg {
        width: $titlebar-window-controls-minimize;
        fill: $titlebar-window-controls-minimize-color;
      }

      &:hover {
        svg {
          fill: $titlebar-window-controls-minimize-active-color;
        }
        background-color: $titlebar-window-controls-minimize-active-bgc;
      }
    }

    .maximize {
      background-color: $titlebar-window-controls-maximize-bgc;
      svg {
        width: $titlebar-window-controls-maximize;
        fill: $titlebar-window-controls-maximize-color;
      }

      &:hover {
        svg {
          fill: $titlebar-window-controls-maximize-active-color;
        }
        background-color: $titlebar-window-controls-maximize-active-bgc;
      }
    }

    .close {
      background-color: $titlebar-window-controls-minimize-bgc;
      svg {
        width: $titlebar-window-controls-minimize;
        fill: $titlebar-window-controls-minimize-color;
      }

      &:hover {
        svg {
          fill: $titlebar-window-controls-close-active-color;
        }
        background-color: $titlebar-window-controls-close-active-bgc;
      }
    }
  }
}
