.frame-titlebar {
  width: 100vw;
  height: $titlebar-height;
  background-color: $titlebar-background-color;
  -webkit-app-region: drag;

  .left {
    .logo {
      width: $titlebar-logo-size;
      height: $titlebar-logo-size;
    }
  }

  .middle {
    height: 100%;
  }

  .right {
    -webkit-app-region: no-drag;
    .minimize,
    .maximize,
    .close {
      width: $titlebar-window-controls-width;
      height: $titlebar-window-controls-height;
    }
  }
}
