.colorPicker {
  display: inline-block;
  border-radius: $UI-form-colorPicker-radius;
  border: $UI-form-colorPicker-border;
  transition: all 0.16s;
  &:hover {
    border: $UI-form-colorPicker-hover-border;
  }
}

.def {
  width: $UI-form-colorPicker-def-size;
  height: $UI-form-colorPicker-def-size;
}

.mini {
  width: $UI-form-colorPicker-mini-size;
  height: $UI-form-colorPicker-mini-size;
}
