@import "./public.scss";

body {
  font-family: -apple-system, Arial, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, sans-serif;
  color: $text-basic-color;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
