/**
 * ---- Display ----
 */
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

/**
 * ---- Text ----
 */
.nowrap {
  white-space: nowrap;
}

/**
 * ---- Flex ----
 */
.flex {
  display: flex;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-jcsb-aic {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-jcfe-aic {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-jcfs-aic {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-jcfs-aifs {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-jcfs-aife {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.flex-jcc-aifs {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.flex-jcsb-aifs {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-jcsb-aife {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.flex-column {
  flex-direction: column;
}

.flex-as-asfe {
  align-self: flex-end;
}

.grow {
  flex-grow: 1;
}

.shrink {
  flex-shrink: 0;
}

@for $i from 1 through 10 {
  .pad-#{$i * 5} {
    padding: $i * 5px;
  }
  .pad-l-#{$i * 5} {
    padding-left: $i * 5px;
  }
  .pad-r-#{$i * 5} {
    padding-right: $i * 5px;
  }
  .pad-t-#{$i * 5} {
    padding-top: $i * 5px;
  }
  .pad-b-#{$i * 5} {
    padding-bottom: $i * 5px;
  }
}

/**
 * ---- margin ----
 */
.mar {
  margin: 0;
}

@for $i from 1 through 10 {
  .mar-#{$i * 5} {
    margin: $i * 5px;
  }
  .mar-l-#{$i * 5} {
    margin-left: $i * 5px;
  }
  .mar-r-#{$i * 5} {
    margin-right: $i * 5px;
  }
  .mar-t-#{$i * 5} {
    margin-top: $i * 5px;
  }
  .mar-b-#{$i * 5} {
    margin-bottom: $i * 5px;
  }
}

@for $i from 1 through 9 {
  .w-#{$i * 5} {
    width: $i * 5px;
  }
}

@for $i from 1 through 10 {
  .w-#{$i * 50} {
    width: $i * 50px;
  }
}

/**
 * ---- position ----
 */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/**
 * ---- width ----
 */

.w-100vw {
  width: 100vw;
}

.w-100p {
  width: 100%;
}

/**
 * ---- height ----
 */
.h-100p {
  height: 100%;
}

.h-100vh {
  height: 100vh;
}

/**
 * ---- font ----
 */
.ft-esm {
  font-size: $font-size-esm;
}

.ft-sm {
  font-size: $font-size-sm;
}

.ft-bs {
  font-size: $font-size-bs;
}

.ft-md {
  font-size: $font-size-md;
}

.ft-lg {
  font-size: $font-size-lg;
}

.ft-elg {
  font-size: $font-size-elg;
}

.bold {
  font-weight: bold;
}

/**
 * ---- cursor ----
 */
.pointer {
  cursor: pointer;
}

/**
 * ---- transition ----
 */

.tsn-normal {
  transition: $transition-normal;
}

.tsn-dark-svg {
  svg {
    fill: $text-basic-passive-color;
    &:hover {
      fill: $text-basic-color;
    }
  }
}

.tsn-dark {
  color: $text-basic-passive-color;
  &:hover {
    color: $text-basic-color;
  }
}
