// --- Gray Color ---
$gray-1: hsl(0deg 0% 5%);
$gray-2: hsl(0deg 0% 10%);
$gray-3: hsl(0deg 0% 15%);
$gray-4: hsl(0deg 0% 20%);
$gray-5: hsl(0deg 0% 25%);
$gray-6: hsl(0deg 0% 30%);
$gray-7: hsl(0deg 0% 35%);
$gray-8: hsl(0deg 0% 40%);
$gray-9: hsl(0deg 0% 45%);
$gray-10: hsl(0deg 0% 50%);
$gray-11: hsl(0deg 0% 55%);
$gray-12: hsl(0deg 0% 60%);
$gray-13: hsl(0deg 0% 65%);
$gray-14: hsl(0deg 0% 70%);
$gray-15: hsl(0deg 0% 75%);
$gray-16: hsl(0deg 0% 80%);
$gray-17: hsl(0deg 0% 85%);
$gray-18: hsl(0deg 0% 90%);
$gray-19: hsl(0deg 0% 95%);
$gray-20: hsl(0deg 0% 100%);
