/**
 * ------ Gray Color ------
 */
@function gray($index) {
  @return hsl(0deg 0% 5% * $index);
}

/**
 * ------ Basic ------
 */

// -- Color --
$frame-background-color: #e4e4e4;
$bgc-basic-primary-color: #1184d1;
$bgc-basic-danger-color: #e81123;

// ---- Text ----
$font-size-esm: 10px;
$font-size-sm: 12px;
$font-size-bs: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-elg: 20px;

$text-basic-color: #666666;
$text-basic-active-color: #3f3f3f;
$text-basic-primary-color: #1492e6;
$text-basic-danger-color: #f56c6c;

/**
 * ------ Frame ------
 */
// ---- Menus ----
$titlebar-logo-size: 20px;
$titlebar-height: 30px;
$titlebar-background-color: #f5f5f5;
// ---- Window Controls ----
$titlebar-window-controls-size: 12px;

$titlebar-window-controls-width: 40px;
$titlebar-window-controls-height: $titlebar-height;

$titlebar-window-controls-minimize: $titlebar-window-controls-size;
$titlebar-window-controls-maximize: $titlebar-window-controls-size;
$titlebar-window-controls-close: $titlebar-window-controls-size;

$titlebar-window-controls-minimize-color: $text-basic-color;
$titlebar-window-controls-maximize-color: $text-basic-color;
$titlebar-window-controls-close-color: $text-basic-color;

$titlebar-window-controls-minimize-active-color: $text-basic-active-color;
$titlebar-window-controls-maximize-active-color: $text-basic-active-color;
$titlebar-window-controls-close-active-color: white;

$titlebar-window-controls-minimize-bgc: $titlebar-background-color;
$titlebar-window-controls-maximize-bgc: $titlebar-background-color;
$titlebar-window-controls-close-bgc: $titlebar-background-color;

$titlebar-window-controls-minimize-active-bgc: #e7e7e7;
$titlebar-window-controls-maximize-active-bgc: #e7e7e7;
$titlebar-window-controls-close-active-bgc: $bgc-basic-danger-color;

// ---- Menubar ----
$menubar-title-size: 14px;
$menubar-title-padding: 2px 8px;
$menubar-title-color: $text-basic-color;
$menubar-title-active-color: $text-basic-active-color;
$menubar-title-bgc: transparent;
$menubar-title-active-bgc: hsl(0, 0%, 90%);

// ---- Menubar Children ----
$menubar-children-title-size: 13px;
$menubar-menu-children-padding: 5px 0px;
$menubar-menu-children-bgc: #fff;
$menubar-menu-children-title-padding: 4px 15px;
$menubar-menu-children-title-color: $text-basic-color;
$menubar-menu-children-title-bgc: transparent;
$menubar-menu-children-title-active-bgc: #f3f3f3;

$menubar-menu-children-separator-margin: 4px 8px;
