.tools {
  width: $Main-WorkArea-Tools-width;
  border-top: $Main-WorkArea-Tools-ToolsIcon-border-top;
  height: calc(
    100vh - #{$titlebar-height} - #{$Main-WorkArea-Tools-ToolsIcon-border-top-size} -
      #{$Main-WorkArea-Tools-grid-gap} * 2
  );
  background-color: $Main-WorkArea-Tools-bgc;
  grid-gap: $Main-WorkArea-Tools-grid-gap;
  padding: $Main-WorkArea-Tools-grid-gap 0px;

  .toolsIcon {
    width: $Main-WorkArea-Tools-ToolsIcon-size;
    height: $Main-WorkArea-Tools-ToolsIcon-size;
    fill: $Main-WorkArea-Tools-ToolsIcon-fill;

    svg {
      &:hover {
        fill: $Main-WorkArea-Tools-ToolsIcon-hover-fill;
      }
    }
  }

  .tools-icon-0 {
    svg {
      transform: rotate(342deg);
    }
  }

  .tools-icon-1 {
    width: $Main-WorkArea-Tools-ToolsIcon-size + 2px;
  }

  .tools-icon-2 {
    width: $Main-WorkArea-Tools-ToolsIcon-size + 8px;
    margin-bottom: 8px;
  }

  .toolsIconActive {
    svg {
      fill: $Main-WorkArea-Tools-ToolsIcon-active-fill;
      &:hover {
        fill: $Main-WorkArea-Tools-ToolsIcon-active-fill;
      }
    }
  }
}
