.close {
  background-color: $menus-window-controls-minimize-bgc;
  svg {
    width: $menus-window-controls-minimize;
    fill: $menus-window-controls-minimize-color;
  }

  &:hover {
    svg {
      fill: $menus-window-controls-close-active-color;
    }
    background-color: $menus-window-controls-close-active-bgc;
  }
}
