.workAreaInfoBar {
  height: $Main-WorkArea-WorkAreaContainer-WorkAreaTabs-WorkArea-WorkAreaInfoBar-height;
  background-color: $Main-WorkArea-WorkAreaContainer-WorkAreaTabs-WorkArea-WorkAreaInfoBar-bgc;
  border-left: $Main-WorkArea-WorkAreaContainer-WorkAreaTabs-WorkArea-WorkAreaInfoBar-border-left;
}
