.workAreaInfoBar {
  height: $Main-WorkArea-WorkAreaContainer-WorkAreaTabs-WorkArea-WorkAreaInfoBar-height;
  background-color: $Main-WorkArea-WorkAreaContainer-WorkAreaTabs-WorkArea-WorkAreaInfoBar-bgc;
  border-left: $Main-WorkArea-WorkAreaContainer-WorkAreaTabs-WorkArea-WorkAreaInfoBar-border-left;
  border-right: $Main-WorkArea-WorkAreaContainer-WorkAreaTabs-WorkArea-WorkAreaInfoBar-border-left;

  .zoomPercent {
    width: 50px;
    height: $Main-WorkArea-WorkAreaContainer-WorkAreaTabs-WorkArea-WorkAreaInfoBar-height;
    border-right: $Main-WorkArea-WorkAreaContainer-WorkAreaTabs-WorkArea-WorkAreaInfoBar-border-left;
  }
}
