.minimize {
  background-color: $titlebar-window-controls-minimize-bgc;
  svg {
    width: $titlebar-window-controls-minimize;
    fill: $titlebar-window-controls-minimize-color;
  }

  &:hover {
    svg {
      fill: $titlebar-window-controls-minimize-active-color;
    }
    background-color: $titlebar-window-controls-minimize-active-bgc;
  }
}
